.profile {
	background-color: green;
	display: flex;
}

.profile img {
	max-width: 50px;
	max-height: 50px;
	align-self: center;
	border-radius: 100px;
}

.profile div {
	display: flex;
	flex-direction: column;
	justify-content: start;
	margin: 1rem 0;
}

.profile div h2,
p {
	margin: 0;
}
